@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    src: url("./assets/MaterialSymbolsRounded.woff2") format('woff2');
}

.msr {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #111113;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: "IBM Plex Sans", sans-serif;
}

:root {
    --dull-bg: #111113;
    --main-bg: #18191b;
    --high-bg: #33363b;
    --box-crisp: 1px solid #393b41;
}

button,
input,
textarea {
    background-color: transparent;
    color: inherit;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: inherit;
    font-size: inherit;
}

@keyframes showUp {
    0% {
        transform: translateY(3px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.main_nav {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 5px;
    background-color: #18191b;


    &>.dropdown {
        position: relative;

        &:hover > button {
            background-color: #28292a;
        }

        &>button {
            padding: 5px 8px;
            border-radius: 5px;

            &:hover {
                background-color: #28292a;
            }
        }
    }

    & .dropdown-content {
        position: absolute;
        animation: showUp .2s;
        box-shadow: 0 5px 10px #0000003a;
        top: 100%;
        left: 0;
        display: none;
        flex-direction: column;
        background: var(--main-bg);
        border: var(--box-crisp);
        border-radius: 5px;
        min-width: 100px;
        z-index: 1;
        overflow: hidden;

        &>a {
            all: unset;
            padding: 5px 8px;
            border-radius: 0px;

            &:hover {
                background-color: #28292a;
            }
        }
    }

    & .dropdown:hover .dropdown-content {
        display: flex;
    }

}

.panels {
    display: flex;
    flex-direction: row;
    flex: 1;
    border-top: var(--box-crisp);
    height: 0;

    &>.panel {
        background-color: #18191b;
        padding: 10px;
        border-left: var(--box-crisp);
        border-right: var(--box-crisp);
        flex: 1;
    }
}

.effects_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(65px, 70px));
    gap: 5px;
}

.singular_effect_btn {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: fit-content;
    aspect-ratio: 1 / 1;

    &:hover {
        background-color: #28292a;
    }

    &.active {
        background-color: #33363b;
    }
}

.seperator {
    display: block;
    background-color: #393b41;
    height: 1px;
    margin: 1em 0px;
}

#effect_tools {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &>.label {
        opacity: .5;
        font-size: 12px;
        text-transform: uppercase;
    }
}

.realLabel {
    opacity: .5;
    font-size: 12px;
    text-transform: uppercase;
}

.range-wrapper {
    position: relative;
    height: 6px;
    background: #393b41;
    border-radius: 3px;
    margin: 10px 0;
    cursor: pointer;
}

.range-fill {
    height: 100%;
    background: #52565d;
    border-radius: 3px 0 0 3px;
}

.range-thumb {
    position: absolute;
    top: -5px;
    width: 16px;
    height: 16px;
    background: #52565d;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    transition: background 0.2s;
}

.output_panel {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    #canvas {
        max-width: 100%;
        max-height: 100%;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.489);
    }
}

#effectlist {
    margin-top: 5px;
}

.effectinlist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    cursor: grab;

    &:hover {
        background-color: #36393f;
    }

    &:active {
        cursor: grabbing;
    }

    &>.handle {
        font-size: 15px;
    }
}


.effectinlist.dragging {
    opacity: 0.5;
}

.effectinlist.over {
    border: 2px dashed #007bff;
}

.dialog_window {
    display: none;
    position: absolute;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #00000033;

    & .content {
        background-color: var(--main-bg);
        margin-top: 1em;
        padding: 1em;
        border-radius: 5px;
        border: var(--box-crisp);
        max-height: 300px;
        overflow-y: auto;
        box-shadow: 0 3px 10px #000000a6;

        &>.header {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            padding-bottom: .5em;

            & .clbtn {
                font-size: 15px;
                padding: 3px;
                display: flex;
                border-radius: 5px;
                cursor: pointer;
                background-color: var(--high-bg);
            }
        }
    }

    .setting {
        display: flex;
        padding-top: .5em;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        gap: 1em;
        max-width: 350px;
        border-top: 1px solid var(--high-bg);

        &>.text_part {
            flex: 1;

            &>p {
                margin: 0;
                opacity: .5;
                font-size: small;
                margin-top: 5px;
            }
        }

        &>input {
            min-width: 0;
            width: 32px;
            background: var(--dull-bg);
            padding: .5em;
            border-radius: 5px;
            text-align: center;
        }
    }
}